# Build artifacts and test outputs
bugs/
*.o
*.d
*.a
*.so
*.old
*.o-old
test/*.txt
test/file1
test/file2
test/test
test/program
test/test-debug
test/example-debug
test/Makefile.autorescan
test/test_auto.c
*~

# Cloned test repositories
iverilog/
test/.smak.connect
test/Makefile.autorescan-fail
